.bounce:hover{
   animation: bounce 1s linear;
}
@keyframes bounce{
  30%, 60%, 90% {
    transform: translateY(0);
  }
  40%{
    transform: translateY(-20px);
  }
  70%{
    transform: translateY(-10px);
  }
  90%{
    transform: translateY(-10);
  }
}